.wp-caption {
	margin-bottom: ($default_h_padding/2);
	max-width: 100%;


	img[class*="wp-image-"] {
		@include center-block;
		margin: 0;
		padding: 0;
		max-width: 100%;
		height: auto;
		display: block;
		border-radius: 3px 3px 0px 0px;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
		margin-top: -1px;
		font-size: 0.875rem;
		line-height: 1.4;
		background: #f3f3f3;
		border-bottom: 1px solid #ddd;
		padding: ($default_h_padding/4);
		border-radius: 0px 0px 3px 3px;

	}
}

.wp-caption-text {
	text-align: center;
}