// VARS

$red: #ff0000
$icon_shadow: 2px 3px 5px rgba(0,0,0,0.7)
$blue_color: #28245f

// database icon
.database-icon
	font-size: 1.5rem
	margin-left: 10px
	margin-right: 10px

a.change-database-icon
	.close
		display: none
	
.database-icons
	display: none
	overflow: hidden
	i.fa
		float: left
		margin-right: 5px
		margin-bottom: 5px
		font-size: 1.1rem
		padding: 5px
		cursor: pointer
		
		&.selected, &:hover
			box-shadow: $icon_shadow
			background: $blue_color
			color: #fff

.fa-smaller
	font-size: 14px !important


// columns metabox
.ese-db-v2-columns

	.database-columns
		display: block
		clear: both
		padding-top: 20px
	
	ul.database-columns
		display: block
		> li
			border-bottom: 1px solid #eee
			margin: 3px
			padding: 3px
			background: #fff
			
			input.column-label
				width: 50%
		
		.columns-settings, .column-actions
			display: block
			float: right
			margin-left: 20px
		
		.column-actions
			.fa
				font-size: 1.2rem
				margin-right: 4px
			.move
				cursor: move
			.remove
				cursor: pointer
				&:hover
					color: $red
		
		ul.columns-settings
			li
				float: left
				cursor: pointer
				opacity: 0.5
				&.active
					opacity: 1
				
				.fa
					font-size: 1.1rem
					margin-right: 4px

// database logs
.ese-db-v2-log

	li.log-item
		.actions, .log-revert-row
			float: right
		
		.actions
			.show-logs-action
				display: inline-block
			.hide-logs-action
				display: none
		
		.log-logs
			display: none
		
		&.show-logs
			.log-logs
				display: block
			
			.show-logs-action
				display: none
			.hide-logs-action
				display: inline-block
		
	
	ul.log-logs
		border: 1px solid #eeeeee
		padding: 10px
		margin-top: 10px
		margin-bottom: 10px
		
		li
			border-bottom: 1px solid #eeeeee
			padding: 5px
		
			.log-revert-row
				.revert-action
					display: block
				.revert-pending-action
					display: none
			
			&.revert-pending
				.revert-action
					display: none
				.revert-pending-action
					display: block

// jQuery tooltip
.ui-tooltip
	background: #666
	color: white
	border: none
	padding: 0
	opacity: 1
	max-width: 200px

.ui-tooltip-content
	position: relative
	padding: 1em
	&::after
		content: ''
		position: absolute
		border-style: solid
		display: block
		width: 0
		top: -10px
		left: 90px
		border-color: #666 transparent
		border-width: 0 10px 10px




