.database-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

a.change-database-icon .close {
  display: none;
}

.database-icons {
  display: none;
  overflow: hidden;
}

.database-icons i.fa {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
}

.database-icons i.fa.selected, .database-icons i.fa:hover {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
  background: #28245f;
  color: #fff;
}

.fa-smaller {
  font-size: 14px !important;
}

.ese-db-v2-columns .database-columns {
  display: block;
  clear: both;
  padding-top: 20px;
}

.ese-db-v2-columns ul.database-columns {
  display: block;
}

.ese-db-v2-columns ul.database-columns > li {
  border-bottom: 1px solid #eee;
  margin: 3px;
  padding: 3px;
  background: #fff;
}

.ese-db-v2-columns ul.database-columns > li input.column-label {
  width: 50%;
}

.ese-db-v2-columns ul.database-columns .columns-settings, .ese-db-v2-columns ul.database-columns .column-actions {
  display: block;
  float: right;
  margin-left: 20px;
}

.ese-db-v2-columns ul.database-columns .column-actions .fa {
  font-size: 1.2rem;
  margin-right: 4px;
}

.ese-db-v2-columns ul.database-columns .column-actions .move {
  cursor: move;
}

.ese-db-v2-columns ul.database-columns .column-actions .remove {
  cursor: pointer;
}

.ese-db-v2-columns ul.database-columns .column-actions .remove:hover {
  color: #ff0000;
}

.ese-db-v2-columns ul.database-columns ul.columns-settings li {
  float: left;
  cursor: pointer;
  opacity: 0.5;
}

.ese-db-v2-columns ul.database-columns ul.columns-settings li.active {
  opacity: 1;
}

.ese-db-v2-columns ul.database-columns ul.columns-settings li .fa {
  font-size: 1.1rem;
  margin-right: 4px;
}

.ese-db-v2-log li.log-item .actions, .ese-db-v2-log li.log-item .log-revert-row {
  float: right;
}

.ese-db-v2-log li.log-item .actions .show-logs-action {
  display: inline-block;
}

.ese-db-v2-log li.log-item .actions .hide-logs-action {
  display: none;
}

.ese-db-v2-log li.log-item .log-logs {
  display: none;
}

.ese-db-v2-log li.log-item.show-logs .log-logs {
  display: block;
}

.ese-db-v2-log li.log-item.show-logs .show-logs-action {
  display: none;
}

.ese-db-v2-log li.log-item.show-logs .hide-logs-action {
  display: inline-block;
}

.ese-db-v2-log ul.log-logs {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ese-db-v2-log ul.log-logs li {
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
}

.ese-db-v2-log ul.log-logs li .log-revert-row .revert-action {
  display: block;
}

.ese-db-v2-log ul.log-logs li .log-revert-row .revert-pending-action {
  display: none;
}

.ese-db-v2-log ul.log-logs li.revert-pending .revert-action {
  display: none;
}

.ese-db-v2-log ul.log-logs li.revert-pending .revert-pending-action {
  display: block;
}

.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
  max-width: 200px;
}

.ui-tooltip-content {
  position: relative;
  padding: 1em;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -10px;
  left: 90px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}
