// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


/// Apply a clearfix to an element.
@mixin j-cf() {
  *zoom: 1;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


@mixin below($point) {

	@if $point == med_desk {
		@media (max-width: 1662px) { @content; }
	}
	@if $point == large_lap {
		@media (max-width: 1350px) { @content; }
	}
	@if $point == laptop {
		@media (max-width: 1200px) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: 1050px) { @content; }
	}
	@else if $point == phone_800 {
		@media (max-width: 800px)  { @content; }
	}
	@else if $point == phone_600 {
		@media (max-width: 600px)  { @content; }
	}
}

