@charset "UTF-8";
a.button {
  background: #28245f;
  font-size: 0.75rem;
  color: #fff !important;
  font-weight: 400;
  padding: 1em 2.5em;
  border-radius: 3px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  line-height: 1.1;
  outline: none;
  border: none;
  position: relative;
  transition: 0.3s all ease;
  position: relative;
  transition: 0.3s all ease;
  padding-left: 3rem !important;
  margin-bottom: 3.236rem;
}

a.button:hover {
  background: #383284;
  color: #fff;
  transition: 0.3s all ease;
  outline: none;
  border: none;
}

a.button:active {
  top: 1px;
  transition: 0.3s all ease;
  outline: none;
  border: none;
  background: #625bc1;
}

a.button:before {
  top: 0.87rem;
}

a.button:before {
  content: "";
  position: absolute;
  left: 1.2rem;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 1rem;
  line-height: 0.8;
}

a.button:after {
  font-size: 80%;
  color: #a9a5dd;
}

a.button:hover {
  border: none;
}

a.button:hover:before {
  transition: 0.3s all ease;
  opacity: 0.9;
  transform: translateX(2px);
  backface-visibility: hidden;
}

a.button:before {
  transform: translateX(0px);
  backface-visibility: hidden;
  opacity: 1;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000;
  transition: 0.3s all ease;
}
