// TODO Matija - ko je A tag označen / ima class "button", naredi en velik spacing pod seboj

$phi: 1.618;
$default_gutter: $phi * 1rem;
$blue_color: #28245f;

@mixin btn-normal($color)
	background: $color;
	font-size: 0.75rem;
	color: #fff !important;
	font-weight: 400;
	padding: 1em 2.5em;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	display: inline-block;
	line-height: 1.1;
	outline: none;
	border: none;
	position: relative;
	@include trans();

	&:hover 
		background: lighten($color, 10%);
		color: #fff;
		@include trans();
		outline: none;
		border: none;
	
	&:active 
		top: 1px;
		@include trans()
		outline: none;
		border: none;
		background: lighten($color, 30%);
	

	&:before 
		top: 0.87rem;


@mixin button_icon($code)
	
	position: relative;
	@include trans();
		

	&:before
		content: $code;
		position: absolute;	
		left: 1.2rem;
		font-family: "FontAwesome";
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #fff;
		font-size: 1rem;
		line-height: 0.8;

@mixin trans()
	transition: 0.3s all ease;




a.button
	+btn-normal($blue_color)
	+button_icon('\f08e')
	padding-left: 3rem !important
	margin-bottom: $default_gutter * 2

	&:after
		font-size: 80%
		color: lighten($blue_color, 50%)

	&:hover
		border: none
		&:before
			+trans()
			opacity: 0.9
			transform: translateX(2px)
			backface-visibility: hidden

	&:before
		transform: translateX(0px)
		backface-visibility: hidden
		opacity: 1
		-moz-osx-font-smoothing: grayscale
		
		text-rendering: optimizeLegibility
		-webkit-font-smoothing: antialiased
		-webkit-perspective: 1000
		+trans()