@import 'jeet/jeet'
@import 'select2'

figure
	a
		img
			display: block

figure
	img
		display: block
		max-width: 100%
		height: auto

a
	cursor: pointer
	outline: none
	+trans()
	&:hover
		+trans()
		outline: none

	&:active, &:focus
		outline: none

.round
	border-radius: 50%

.left
	float: left

.right 
	float: right

.blue
	background: $blue_color

.relative
	position: relative

strong
	+strong()
	color: $blue_color

body
	font-weight: 400
	color: $body_color
	position: relative
	background: #FEFEFE url('../images/bg-1.jpg') no-repeat left top
	-webkit-font-smoothing: antialiased
	
	+below(phone_600)
		background: #FEFEFE

#preloader
	position: fixed
	top: -8px

	.indeterminate
		height: 1px

// LOADER css nalagamo v headerju, zato tukaj ni več potreben
// #loading
// 	background: #fff
// 	bottom: 0
// 	height: 100%
// 	left: 0
// 	position: fixed
// 	right: 0
// 	transition: opacity 0.3s ease-in-out
// 	top: 0
// 	width: 100%
// 	z-index: 9999
// 	opacity: 1

// 	&.hide-loading
// 		opacity: 0
		
// 	span
// 		border-radius: 50%
// 		display: block
// 		height: 142px
// 		left: 50%
// 		position: absolute
// 		top: 50%
// 		-webkit-transform: translate(-50%, -50%)
// 		-ms-transform: translate(-50%, -50%)
// 		-o-transform: translate(-50%, -50%)
// 		transform: translate(-50%, -50%)
// 		width: 142px

// 	.spinner
// 		-webkit-animation: b 1.4s infinite linear
// 		-o-animation: b 1.4s infinite linear
// 		animation: b 1.4s infinite linear
// 		border: 2px solid lighten($blue_color, 60%)
// 		border-right-color: #eee
// 		border-radius: 50%
// 		color: transparent
// 		display: block
// 		height: 140px
// 		width: 140px

// .spinner-small
// 	-webkit-animation: b 1.4s infinite linear
// 	-o-animation: b 1.4s infinite linear
// 	animation: b 1.4s infinite linear
// 	border: 2px solid lighten($blue_color, 60%)
// 	border-right-color: #eee
// 	border-radius: 50%
// 	color: transparent
// 	display: inline-block
// 	height: 15px
// 	width: 15px
// 	margin-right: 3px
	
.home
	.site-main
		padding-bottom: $default_gutter

.browsehappy
	text-align center
	color $blue_color
	padding-top 15px
	padding-bottom 15px

#wpadminbar
	background: $blue_color
	
.admin-bar

	#preloader
		top: 20px

.site-main

	h3,h4,h5,h2,h1
		+strong()
		color: $blue_color

.spacer, .fancy-hr, hr
	width: 100%
	background: #ddd
	height: 2px
	display: block
	margin-bottom: $default_gutter ($default_gutter*2)


/*Blockquote*/

blockquote
	padding: $default_gutter / 6
	font-size: 23*$px
	line-height: 1.4
	font-weight: 300
	text-align: left
	margin-left: 0
	margin-bottom: $default_gutter

	+font-icon('\f10d')

	&:before
		font-size: 2.5rem
		opacity: 0.2
		position: relative
		top: 1.125rem
		left: 0
		margin-right: $default_gutter
		margin-bottom: $default_gutter
		float: left

	p
		margin-top: 0
		margin-bottom: 0


blockquote.contact-form-submission
	position: relative

	+font-icon('\f0e0')

	&:before
		position: relative !important
		float: right


/*Lists*/

.list
	margin: 0
	margin-bottom: ($default_h_padding/2)
	+list_item_icon('\f105')

	li
		margin-left: 1rem
		line-height: 1.3
		font-size: 0.875rem
		position: relative
		padding-left: 1rem
		margin-bottom: 1rem

		&:hover
			&:before
				left: 2px

		
		a
			color: #fff
			border-bottom: none

.list-normal
	margin: 0
	margin-bottom: ($default_h_padding/2)
	+list_item_icon('\f105')

	li
		margin-left: 0rem
		
		position: relative
		margin-bottom: ($default_h_padding/10)
		padding-left: ($default_h_padding/2)


.num-normal
	font-size: 1.5rem
	color: $blue_color
	+strong()
	margin-left: $default_gutter
	line-height: 1
	margin-top: $default_gutter


	li
		margin-bottom: $default_gutter / 2
	
		p
			color: $body_color
			font-size: 1rem
			font-weight: 400
			margin: 0
			line-height: 1.4
			


.tick-list

	@extend .list-normal
	+list_item_icon('\f00c')

	li
		
		&:before
			color: $blue_color
			top: 1px
	
.sd-content
	ul
		li
			&:before
				content: ''


/* Buttons*/

input[type="file"]
	padding: $default_gutter / 2
	background: $grey_bg

input[type="submit"]
	&.submit-btn
		+btn-normal($blue_color)

input[type="submit"]
	&.submit-btn-orange
		+btn-normal($orange_color)

.button
	+btn-normal($blue_color)
	+button_icon('\f08e')
	padding-left: 3rem !important
	margin-bottom: $default_gutter * 2
	

	strong
		color: #fff !important
		font-weight: 400

	&.pdf, &.mtli_pdf
		padding-left: 3rem
		+button_icon('\f1c1')


	&.link
		padding-left: 3rem		
		+button_icon('\f08e')
	
	&.excel, &.mtli_xlsx, &.mtli_csv
		padding-left: 3rem
		+button_icon('\f1c3')

	&.doc, &.mtli_docx, &.mtli_doc
		padding-left: 3rem
		+button_icon('\f1c2')

	&.send
		padding-left: 3rem
		+button_icon('\f1d8')

	&.form
		padding-left: 3rem
		+button_icon('\f00b')

	&.replay
		padding-left: 3rem
		+button_icon('\f01e')


	&:after
		font-size: 80%
		color: lighten($blue_color, 50%)

	&:hover
		border: none
		&:before
			+trans()
			opacity: 0.9
			transform: translateX(2px)
			backface-visibility: hidden

	&:before
		transform: translateX(0px)
		backface-visibility: hidden
		opacity: 1
		-moz-osx-font-smoothing: grayscale
		
		text-rendering: optimizeLegibility
		-webkit-font-smoothing: antialiased
		-webkit-perspective: 1000
		+trans()
		
	&.float-left
		float: left
		margin-right: ($default_gutter / 4)
		margin-bottom: 0.5rem

	&.float-none
		float: none

		&:after
			@extend .clearfix

	+below(phone_800)
		line-height: 1.4
		font-size: 0.8125rem



p, .collapsible-body
	.button, .mtli_attachment
		margin-bottom: 1.1rem


.button
	.size
		font-size: 0.6rem
		color: lighten($blue_color, 50%)
		margin-left: 0.3125rem

.button-orange
	@extend .button
	background: $orange_color

	&:hover
		background: lighten($orange_color, 10%)

.button-tab
	// padding: 0.5rem 1.5rem 0.5rem 0.5rem
	margin-top: 0.1rem
	margin-right: 0
	margin-bottom: 0 !important

.pushbutton-wide
	padding: 1rem 1.5rem !important

.modal-close
	+btn-normal($orange_color)
	margin-bottom: 0


h1,h2,h3,h4,h5
	a
		border-bottom: 1px dotted $blue_color

		&:before
			color: $blue_color
			padding-left: 0

.a-link
	padding-left: $default_gutter
	+font_icon('\f08e')


/*General strucwidgettitleture*/

.half
	+j-column(1/2, $gutter: 3)
	+below(phone_800)
		+j-stack()

.half-c
	+j-column(1/2, $cycle:2, $gutter: 3)
	+below(tablet)
		+j-stack()


.footer-widget, .third
	+j-column(1/3, $cycle: 3)

	+below(tablet)
		+j-column(1/2, $cycle: 2)

	+below(phone_800)
		+j-stack()



.main-logo-euspr
	display: block
	
	+below(tablet)
		margin-top: ($default_h_padding/2) !important

	+below(phone_600)
		display: block
		width: 100%
		padding: 0
		margin: 0
		float: none

		img
			text-align: center
			margin-left: auto
			margin-right: auto
			display: block

.main-logo-span
	width: 203px
	float: none
	display: block
	margin-top: 0
	padding-top: ($default_h_padding/4)
	margin-left: ($default_h_padding/4)
	margin-bottom: ($default_h_padding/4)

	+below(tablet)
		margin-bottom: ($default_h_padding/6)
		margin-top: 0
		display: block
		width: 100%
		img
			margin: 0 auto
			display: block
		
.sidebar
	max-width: 15.125rem
	width: 15.125rem
	float: left
	display: block
	height: 100%
	margin-right: ($default_h_padding/4)
	z-index: 10
	position: relative

	+below(tablet)
		display: none

.tagline-wrapper
	
	display: block
	
	.tagline-holder
		width: 46%
		
	+below(med_desk)
		.tagline-holder
			width: 40%

	+below(large_lap)
		.tagline-holder
			width: 40%

	+below(tablet)
		.tagline-holder
			
			margin: 0 auto !important
			padding: ($default_gutter)
			width: 100%
			font-size: 0.9em
			text-align: center

			h3
				padding-left: 2%
				padding-right: 2%




.header-content
	+j-center(75rem)

.main-content, .home-content
	+j-center(75rem)
	

	h1,h2,h3,h4,h5,h6
		clear: none

	+below(tablet)
		padding-left: $default_gutter
		padding-right: $default_gutter
		padding-top: $default_gutter !important

.row
	width: 100%
	display: block

.page-wrapper
	overflow: hidden

.site
	overflow: hidden
	padding-left: $default_gutter / 2
	display: block
	padding-right: $default_gutter
	padding-top: 0
	margin-left: 0

.container
	+j-center(75rem)

	+below(tablet)
		padding-left: $default_gutter
		padding-right: $default_gutter

// .content-area
// 	float: left

.home-content
	// padding-left: $default_gutter * 2

	+below(tablet)
		padding-left: $default_gutter

.tagline-holder
	padding: $default_h_padding 0
	

	h3
		clear: none
		font-size: 1rem
		margin-top: 0
		font-weight: 400
		padding-right: 1rem

.header-twitter
	display: block
	position: relative
	margin-top: $default_h_padding
	margin-left: 0% !important
	margin-right: 0% !important
	width: 47%

	+below(med_desk)
		width: 39%

	+below(large_lap)
		width: 30%
	
	+below(tablet)
		width: 100%
		display: block
		margin-top: 0

		.twitter-wrapper
			padding: ($default_h_padding/4)
			text-align: center
			background: $blue_color
			color: #fff

			a
				color: #fff

			.rotatingtweets
				width: 100% !important
				margin-right: 0 !important


.twitter-wrapper
	padding: ($default_h_padding/6)
	background: transparentize(#fff, 0.4)
	
/*Plugin reset RotatingTweets*/

.rotatingtweets
	padding: 0
	margin: 0
	margin-top: 0px
	position: relative

.rotatingtweet
	p.rtw_main, p.rtw_meta
		padding: 0
		margin: 0

	p.rtw_main
		font-size: 12px
		line-height: 1.4

	p.rtw_meta
		+strong()
		font-size: 0.6875rem

.main-header
	max-width: 15.125rem
	width: 15.125rem
	float: left
	display: block
	height: 100%
	margin-right: ($default_h_padding/2)
	
	figure.main-logo-euspr
		margin: 0
		padding: 3.83rem 0 ($default_h_padding/4) ($default_h_padding/4)

	+below(tablet)
		+j-stack()
		float: none
		margin-bottom: 0

		img
			margin: 0 auto

		.main-logo-euspr
			padding-left: 0 !important


/*Home featured art*/

.post-feature-holder
	overflow: hidden
	
	
	margin-bottom: ($default_gutter * 3)
	padding-bottom: 1px

	.prime-figure
		margin: 0 $default_gutter 0 0
		float: left
		padding: 0
		display: block
		margin-bottom: $default_gutter

	.featured-content

		padding-right: $default_gutter

		h2, .entry-title
			font-size: 1.375rem
			margin-top: 0
			+home_title()


			a
				border-bottom: none
		.meta-data
			+meta_info()


	.entry-footer
		margin-top: 0
		margin-bottom: 0


	+below(phone_800)

		box-shadow: none
		padding-bottom: 2px

		.featured-content
			text-align: center
			padding-right: 0

		.prime-figure
			float: none
			display: block
			width: 100%
			text-align: center
			
			img

				margin-left: auto
				margin-right: auto

.category-post-holder
	background: transparent
	box-shadow: none



/*Buttons*/

.btn-read
	+btn-normal($blue_color)
	font-size: 0.875rem

.show-more-info
	+btn-normal($blue_color)
	font-size: 0.6875rem
	padding: 5px

.btn-medium
	padding: ($default_gutter / 2) $default_gutter
	line-height: 1.15

.btn-small
	padding: 0.7em 1em
	font-size: 0.65rem

/*Small posts holder*/

.home-posts-holder
	overflow: hidden
	padding-bottom: 2px
	margin-bottom: ($default_gutter * 2)

.post-single
	@extend .half
	margin-right: 1%
	margin-bottom: 0
	padding-bottom: $default_gutter / 4

	&:nth-of-type(2n)
		float: right

	.thumb
		margin: 0 $default_gutter ($default_gutter / 2) 0
		float: left
		padding: 0
		display: block
	

		a
			margin: 0
			padding: 0
			display: block
			border-bottom: none

	.meta-below-title
		background: none
		margin-left: 0
		padding-left: 0
		margin-top: ($default_gutter / 4)
		margin-bottom: ($default_gutter / 4)

		span.cat-links
			margin: 0
			padding: 0


	.content
		padding-right: 2em
		font-size: 0.75rem
		line-height: 1.6
		min-height: 250px
		margin-top: 0


		h3
			margin-top: 0

		.entry-title
			font-size: 1rem
			font-weight: 300
			+home_title()
			

		// .entry-meta
		// 	margin-top: 0
		// 	margin-bottom: 0
		// 	font-style: italic
		// 	color: lighten($body_color, 20%)

	+below(tablet)
		margin-bottom: $default_gutter / 2

	+below(phone_800)
		
		margin-right: 0 !important
		margin-left: 0 !important

		.thumb
			margin-bottom: $default_gutter

		.content
			padding-right: 0
			min-height: auto

	+below(phone_600)
		margin-right: 0 !important
		margin-left: 0 !important
		text-align: center
		.thumb
			+j-stack()
			img
				margin-left: auto
				margin-right: auto
		


	
/*Override MimeType Link Icons*/

.button
	margin-right: ($default_gutter / 4)

.mtli_attachment
	@extend .button
	margin-right: ($default_gutter / 4)
	
	&.mtli_pdf, &.mtli_xlsx, &.mtli_csv, &.mtli_docx
		background-image: none !important


.home-post-conference-holder
	border-radius: 3px
	margin-bottom: ($default_gutter * 2)
	position: relative

	img
		display: block
	h4
		text-align: center
		font-size: 1.5rem
		font-weight: 300
		margin-top: 0


/*Early home*/

.home-early-holder
	overflow: hidden
	display: block

.home-banner-single
	position: relative


	img
		display: block

	.caption-left
		position: absolute
		left: 0
		display: block
		bottom: 0
		width: 100%

		p
			background: transparentize($blue_color, 0.2)
			margin: 0
			color: #fff
			width: 50%
			padding-left: $default_gutter / 2

		h1,h2,h3,h4,h5,h6
			color: #fff
			background: transparentize($blue_color, 0.2)
			margin: 0
			width: 50%
			padding-left: $default_gutter / 2

		ul
			background: transparentize($blue_color, 0.2)
			padding: $default_gutter / 2
			padding-top: $default_gutter
			color: lighten($blue_color, 80%)
			margin: 0
			position: relative
			width: 50%
			+list_item_icon("\f00c")

			li
				padding-left: 24px
				margin-bottom: 1rem

			strong
				color: lighten($blue_color, 80%)





	.caption-right
		position: absolute
		right: 0
		display: block
		bottom: 0

		a
			+btn-transparent($blue_color)

			p
				margin-top: 0
				margin-bottom: 0




	+below(tablet)
		font-size: 0.9em
		line-height: 1.6

	+below(phone_800)
		font-size: 0.8em
		line-height: 1.4
	+below(phone_600)
		.caption-left, .caption-right
			position: relative
			width: 100%
			ul, a
				width: 100%
				background: transparentize($blue_color, 0)
			.btn-transparent
				text-align: center
		.btn-transparent
			text-align: center
			margin-top: 1px
			font-size: 1.5rem
			span
				text-align: center

.become-member-holder
	> ul 
		@extend .tick-list

	> p
		a
			@extend .btn-read, .btn-small


.join-banner
	position: relative
	overflow: hidden
	margin-bottom: ($default_h_padding/2)

	.caption-right
		position: absolute
		left: 0
		display: block
		bottom: 0

	.btn-transparent
		font-size: 0.75rem
		+btn-transparent($blue_color)
		span
			font-size: 0.6875rem

		p
			margin-top: 0
			margin-bottom: 0

	img
		padding: 0
		margin: 0
		display: block


	+below(phone_600)
		.caption-left, .caption-right
			position: relative
			width: 100%
		.ticked-list-white, .btn-transparent
			width: 100%
			background: transparentize($blue_color, 0)
		.btn-transparent
			text-align: center
			margin-top: 1px
			font-size: 1.5rem
			span
				text-align: center
				font-size: 1rem
				line-height: 1.4


// Main Nav

.main-navigation
	background: $blue_color

.widget-sidebar-euspr, .widget-sidebar-span
	background: $blue_color

.widget-sidebar-euspr, .widget-sidebar-span
	div
		ul.menu
			padding: 0
			margin: 0

			li
				position: relative
				a
					color: #fff
					border: none
					padding: 1.1em 0.5em 1.1em 1.5em
					display: block
					border-bottom: 1px solid transparentize(#e9e9e9, 0.90)
					line-height: 1
					background: $blue_color
					cursor: pointer
					outline: none
					box-shadow: inset 0px -2px 2px rgba(0,0,0,0.09)
					border-left: 0px solid darken($blue_color, 13%) !important
					+trans()

					&:hover
						background: lighten($blue_color, 2%)
						outline: none
						+trans()

					&:active
						+trans()
						border-left: 4px solid darken($blue_color, 13%) !important
						background: lighten($blue_color, 8%)
						

				ul
					li
						a
							background: darken($blue_color, 4%)
							box-shadow: inset 0px -2px 2px rgba(0,0,0,0.09)
							padding: 1.1em 0.5em 1.1em 1.8em
							font-size: 0.8rem
							color: lighten($blue_color, 55%)
							border-bottom: 1px solid transparentize(#e9e9e9, 0.95)
							+trans()

							&:hover
								background: lighten($blue_color, 1%)
								+trans()

			.current-menu-item
				
				a
					border-left: 4px solid darken($blue_color, 13%) !important
					background: darken($blue_color, 3%)

					&:hover
						background: darken($blue_color, 2%)


.mobile-menu

	.widget-sidebar-euspr, .widget-sidebar-span
		background: $blue_color
		div
			ul.menu
				padding: 0
				margin: 0

				li
					position: relative
					padding: 0
					margin: 0
					a
						color: #fff
						border: none
						padding: $default_gutter / 2
						display: block
						border-bottom: 1px solid transparentize(#e9e9e9, 0.90)
						line-height: 1
						background: transparentize($blue_color, 0)
						cursor: pointer
						outline: none
						box-shadow: inset 0px -2px 2px rgba(0,0,0,0.09)
						text-align: center
						width: 100%

						&:hover
							background: lighten($blue_color, 2%)
							outline: none

						&:active
							background: lighten($blue_color, 5%)
							outline: none
							+trans()

					ul
						margin: 0
						li
							a
								background: darken($blue_color, 4%)
								box-shadow: inset 0px -2px 2px rgba(0,0,0,0.09)
								padding: $default_gutter / 2
								font-size: 0.8rem
								color: lighten($blue_color, 55%)
								border-bottom: 1px solid transparentize(#e9e9e9, 0.95)

								&:hover
									background: lighten($blue_color, 1%)

.mobile-navigation
	
	position: fixed
	overflow-y: scroll
	width: 100%
	height: 100%
	z-index: 9
	top: 0
	display: none
	overflow-x: hidden

	&.open
		position: fixed
		overflow-y: scroll
		width: 100%
		height: 100%
		z-index: 9
		top: 0
		display: block


// .site-main .posts-navigation
// 	overflow: hidden
// 	display: block
// 	width: 100%
// 	clear: both

.mytheme_menu_switch
	float: right
	//margin-right: $default_gutter / 2
	display: block
	background: lighten($blue_color, 0%)
	padding: 1.23rem
	line-height: 1
	margin-top: -1rem
	margin-right: 0
	+trans()
	font-size: 0.6rem

	&:hover
		background: lighten($blue_color, 5%)
		
		+trans()

	+below(tablet)
		position: absolute
		right: 0
		top: 20px
		padding: $default_gutter / 2



.sidebar-widget-wrapper
	background: $blue_color
	border-top: 1px solid transparentize(#e9e9e9, 0.90)
	overflow: hidden

	
	ul
		margin: 0
		color: #fff
		+list_item_icon('\f105')
		margin-bottom: ($default_h_padding/2)
		@extend .normal-list
		padding-right: ($default_h_padding/2)

		li
			margin-left: 1rem
			
			font-size: 0.875rem
			position: relative
			padding-left: 1rem
			margin-bottom: 0.5rem
			
			a
				color: #fff
				border-bottom: none

	.widgettitle
		color: #fff
		font-size: 1rem
		margin-left: 1rem
		margin-top: ($default_h_padding/4)
		margin-bottom: ($default_h_padding/4)

	.post-date
		font-size: 0.6875rem
		clear: both
		display: block
		color: lighten($blue_color, 60%)
		margin-left: 0
		white-space: nowrap

.navicon
	position: fixed
	font-size: 1.65rem
	line-height: 2.8125rem
	text-align: center
	color: $blue_color
	width: 40*$px
	margin: 0*$px
	cursor: pointer
	display: none
	right: ($default_h_padding/2)
	top: ($default_h_padding/2)
	z-index: 10
	background: transparentize(#fff, 0.5)

	+below(tablet)
		display: block


	
/*Page - single*/

.entry-title
	+strong()
	margin-top: 0
	color: $blue_color


/*Category*/

/*Meta*/

.posted-on, .edit-link
	margin-left: 10px

.entry-meta
	.posted-on
		padding-left: 0
		margin-left: 10px
		font-size: 0.75rem

.cat-links
	line-height: 1.6

.lost-password
	font-size: 0.75em
	margin-bottom: 0.809rem !important


/*Board members*/


.board-member-holder
	width: 100%
	float: none
	display: block
	margin-right: 2%
	margin-bottom: ($default_h_padding/2)

.board-wrapper
	padding: ($default_h_padding/2)
	+panel_grey()
	text-align: left
	font-size: 0.75rem
	position: relative
	+trans()

	.member
		float: left
		margin-right: $default_gutter
		margin-bottom: 1.118rem
		img
			margin-left: auto
			margin-right: auto
			border-radius: 3px
			max-width: 100%
			height: auto

	h4
		font-size: 1.0625rem
		font-weight: 900
		margin-bottom: 1rem
		margin-top: 0

	p
		line-height: 1.4
	
	.title
		font-weight: 400
		font-style: italic
		
	.social-holder
		clear: both
		display: block
		position: relative
		float: right

		i
			float: none
			text-align: center
			font-size: 1.3rem
			margin-right: 0.3125rem
			color: $blue_color
			+trans()

			&:hover
				opacity: 0.8
				+trans()
				

		a
			border-bottom: none
			&:hover
				border-bottom: none

	h3.title
		margin-bottom: 3px
		font-size: 0.625rem
		color: $body_color
		font-weight: 400
		position: absolute
		top: 6px
		right: 9px
		margin-top: 0
		font-style: italic


	&:hover
		@extend .z-depth-1


/*Last section - home*/

.last-section-holder
	overflow: hidden
	margin-top: ($default_h_padding/2)
	margin-bottom: ($default_h_padding)
	padding-bottom: 1px

	h4
		font-weight: 300
		font-size: 1.5rem
		margin-top: 0

article
	h4,h2,h3
		color: lighten($blue_color,2%)
		clear: both
		display: block
	ul
		+list_item_icon('\f111')
		@extend .list-normal

		li
			&:before
				color: $blue_color
				top: 2px
				font-size: 0.45rem
				left: 2px

			a
				color: $blue_color
				border-bottom: 1px dotted $blue_color

				&.mtli_attachment, &.button
					margin-bottom: 0


		ul
			+list_item_icon('\f111')
			@extend .list-normal
			margin-bottom: $default_gutter / 2
			margin-top: $default_gutter / 2
			margin-left: 0
			li
				&:before
					color: #ddd

	.tick-list
		li
			&:before
				font-size: 1rem


	a
		border-bottom: 1px dotted $blue_color


/*Early carrers forum*/

.site-main
	padding-bottom: $default_gutter*4

.panel
	padding: $default_gutter
	+panel_grey()
	z-index: 1
	position: relative
	overflow: hidden
	clear: both


	h4
		color: $blue_color
		margin-top: 0

	h3
		margin-top: 0
		color: $blue_color

	ul
		@extend .tick-list

	a
		color: $blue_color !important


	h5
		color: $body_color
		margin-top: 0

	
	.mtli_attachment, .button
		color: #fff !important
		

	.mtli_attachment, .button
		&:last-child
			margin-bottom: $default_gutter

	p:last-child, ul:last-child
		margin-bottom: 0

	.button:last-child
		margin-bottom: 0

	p:first-child
		margin-top: 0


.insert-content-not-found
	background: #d5d5d5


.panel-notice
	padding: ($default_gutter / 2) ($default_gutter)
	font-size: 0.9rem

.panel-multi
	overflow: hidden
	margin-bottom: $default_gutter

	.mtli_attachment
		float: left
		margin-right: $default_gutter / 4


.panel-bg
	background: #f3f3f3 url(../images/bg-1.jpg) no-repeat top center
	


.member-info-holder
	@extend .panel
	padding: ($default_gutter / 2)

	p
		margin-bottom: 0
		margin-top: 0

	.fa
		margin-right: ($default_gutter / 2)
		line-height: 0
		color: $blue_color


.toc-wrapper
	position: fixed
	display: block
	border-radius: 3px 0px 0px 3px
	z-index: 9997
	// left: 90%
	right: 0
	transition: 0.5s all ease
	top: 300px

	
	&:hover 	
		
		.toc-close-button
			+trans()
			transform: rotate(-180deg)
			background: none

		li
			font-size: 1rem

			a
				padding: 3px
				line-height: 1.3

	.fixed-toc
		position: absolute
		display: block
		background-color: transparentize($blue_color, 0.6)
		opacity: 0.7
		padding: $default_gutter / 2
		display: block
		color: #fff
		text-align: left
		// right: 0px
		left: -220px
		min-width: 200px
		@extend .z-depth-1-half
		transition: left 2s ease-out, background-color 1.5s linear

		ul
			margin: 0
			padding: 0

		.main
			a
				+strong()

		li
			margin-left: 0
			padding-left: 0
			font-size: 0.6875rem	
			white-space: nowrap


		a
			border: none
			color: #fff
			padding: 1px
			background: transparent
			margin-top: 0
			line-height: 1.1
			overflow: hidden
			display: block
			height: auto

			&.active
				background: $blue_color !important

			&:hover
				color: #fff
				background: $blue_color
				border-left: 2px solid $orange_color
				+trans()

		&:hover, .open-toc
			background-color: transparentize($blue_color, 0.1)
			transition: left 3s ease-in, background-color 1s linear, opacity 0.3s ease-in
			left: auto
			right: 0
			opacity: 0.95

			li
				font-size: 0.85rem

		@media screen and (max-width: 1600px)
				left: -10px


			
	+below(phone_600)
		top: 150px

		.fixed-toc
			white-space: nowrap
			max-width: 150px
			height: auto
			overflow: auto

@media screen and (max-height: 500px) and (orientation: landscape)
	.toc-wrapper
		top: 90px

		.fixed-toc
			height: 200px
			overflow: auto
		

.button-holder-toc
	position: relative

.toc-close-button
	position: absolute
	left: -40px
	top: -20px
	padding: 0.3rem 0.6rem !important
	border-radius: 3px
	// box-shadow: 0px 1px 0px rgba(0,0,0,0.1)
	z-index: 9998
	color: $blue_color !important

	
.early-member
	overflow: hidden
	position: relative
	margin-bottom: $default_gutter
	figure.thumb
		float: left
		margin-right: ($default_h_padding/4)

		img
			border-radius: 3px

	.icon-holder

		i
			float: none
			text-align: center
			font-size: 1.3rem
			margin-right: 0.3125rem
			color: $blue_color
			
			+trans()

			&:hover
				opacity: 0.8
				+trans()

		a
			&:hover
				border-bottom: 0		

/*SPAN filter*/

.filter-holder
	padding: $default_gutter
	+panel_grey()
	// margin-top: $default_h_padding
	background: #f6f6f6
	position: relative


.link-tabs
	margin: 0
	display: block
	width: 100%
	overflow: hidden
	position: relative

	li
		float: left
		margin: 0
		margin-right: 1rem
		
		opacity: 0.5

		a
			color: #fff

			&:active
				background: lighten($blue_color, 30%)

		&.active
			opacity: 1
		
		// edit btn on the right
		&.psd-edit
			float: right

			

	+below(tablet)
		li
			font-size: 0.75rem
			margin-bottom: $default_h_padding / 10
			float: none
			
			a	
				margin-bottom: $default_gutter / 4
				border-bottom: none !important
				opacity: 0.5
				width: 100%
				text-align: center

			
		.active
			a
				opacity: 1
				

.main-search
	input[type="search"]
		background: #fff url(../images/search-png.png) no-repeat 1.2rem center
		background-size: 20px 19px
		border-radius: 3px
		border: none
		border-bottom: 1px solid transparentize($blue_color, 0.92)
		color: $blue_color
		font-weight: 400
		font-size: 1rem
		font-style: italic
		outline: none
		padding-bottom: 0.375rem
		
		+trans()
		float: left
		width: 100%
		color: $blue_color
		box-shadow: none
		margin-bottom: 0
		padding-left: $default_gutter * 2

		&:focus
			border-bottom: 1px solid transparentize($blue_color, 0.5)
			background: #fff url(../images/search-png.png) no-repeat 1rem center
			box-shadow: 0px 2px 7px rgba(0,0,0,0.12)
			background-size: 20px 19px
			+trans()



.main-search
	margin-top: $default_gutter

.search-holder
	position: relative
	overflow: hidden




// Hidden for now - can delete

.sub-search-wrapper
	padding-top: $default_gutter / 2

	ul
		margin: 0
		width: 100%


		li
			+j-column(1/3, $cycle:3, $gutter: 1)
			a
				padding: $default_gutter / 2
				background: transparentize($blue_color, 0.99)
				margin-bottom: $default_gutter / 2
				display: block
				margin-right: 1%
				border: 1px solid transparentize($blue_color, 0.92)
				
				text-align: left
				font-size: 12px
				line-height: 1.2
				+trans()
				border-radius: 3px
				// transform: scale(1,1)

				
				&:hover
					border: 1px solid lighten($blue_color, 60%)
					// box-shadow: 0px 2px 6px rgba(0,0,0,0.1)
					@extend .z-depth-1
					outline: none
					+trans()
					background: #fff
					// transform: scale(1.01,1.01)
				
				&:active
					border: 2px solid lighten($blue_color, 20%)
					outline: none

			+below(tablet)
				+j-stack()


.filter-results-holder
	margin-top: $default_gutter

.stats
	font-size: 0.8rem
	color: #9e9e9e


/*Supporting Org*/

.org-part-holder
	overflow: hidden
	background: #fff
	@extend .panel
	margin-bottom: $default_gutter

	.a-org
		display: block
		overflow: hidden

		img
			float: none
			margin-right: $default_gutter
			margin-left: auto
			margin-right: auto
			max-width: 100%
			height: auto
			opacity: 0.9
			display: block
			+trans()

			&:hover
				+trans()
				opacity: 1

		+below(phone_800)
			margin-bottom: $default_gutter / 2


	h4
		margin-bottom: $default_gutter / 2
		+below(phone_800)
			
			text-align: left


	.part-content-holder
		+j-column(2/3, $gutter: 3)
		+below(phone_800)
			+j-stack()


	.third-1x
		+j-column(1/3, $gutter: 3)


		+below(phone_800)
			+j-stack()


	a
		border-bottom: none

		&:hover
			border-bottom: none

/*Footer*/

.footer-bg
	box-shadow: inset 0px 8px 12px rgba(0,0,0,0.10)
	padding: ($default_h_padding) 0
	background: $footer_bg
	color: #999a9f
	overflow: hidden
	display: block
	width: 100%

	h4
		margin-top: 0
		margin-bottom: ($default_h_padding/4)

.footer-widget

	a
		color: #999a9f !important

		&:hover
			color: lighten(#999a9f, 20%) !important
	
	.menu
		margin-left: 0
		padding-left: 0
		@extend .list

		li
			margin-left: 0 !important
			margin-bottom: 0.625rem !important

			a
				color: #999a9f !important

				&:hover
					color: lighten(#999a9f, 20%) !important

	+below(tablet)
		

		+j-stack()
		text-align: center

		&:nth-child(2)
			margin-bottom: 0

		&:first-child
			margin-top: $default_gutter


		figure
			img
				margin-left: auto
				margin-right: auto

		

		.menu
			ul
				margin: 0
				li
					padding-left: 0
					&:before
						content: ''

					a
						background: lighten($footer_bg, 5%)
						padding: $default_gutter / 4
						display: block
						margin: 0

						&:hover, &:active
							background: lighten($footer_bg, 10%) !important
		.menu

			li
				padding-left: 0
				&:before
					content: ''

				a
					background: lighten($footer_bg, 5%)
					padding: $default_gutter / 4
					display: block
					margin: 0

					&:hover, &:active
						background: lighten($footer_bg, 10%) !important



.main-logo-euspr-footer
	margin-bottom: $default_gutter
	img
		opacity: 0.5
		+trans()
		&:hover
			+trans()
			opacity: 1

.footer-banner
	margin-top: $default_gutter
	img
		opacity: 0.5

.footer-widget
	overflow: hidden
	margin-bottom: ($default_h_padding/4)

	.desc
		font-size: 0.75rem
		line-height: 1.4
		display: block
		margin-bottom: ($default_h_padding/4)
	.year
		font-size: 0.75rem
		color: lighten($footer_bg, 45%)


.site-info
	display: block
	clear: both
	font-size: 0.75rem
	margin-bottom: ($default_h_padding/4)
	

	a
		color: lighten($footer_bg, 50%) !important

		&:hover
			border-color: lighten($footer_bg, 60%)

	+below(tablet)
		text-align: center
		margin: 0



/*404 page / not found page*/

.not-found, .search-results

	.page-header
		margin-bottom: 0
		padding-bottom: 1rem
		padding-top: 0

	.page-title
		font-weight: 300
		color: $blue_color
		text-align: left
		margin-bottom: 0
		margin-top: 0

form.search-form
	margin-bottom: ($default_h_padding)
	input[type="search"].search-field
		background: transparentize($blue_color, 0.96)
		border-radius: 3px
		border: none
		border-bottom: 1px solid transparentize($blue_color, 0.92)
		color: $blue_color
		font-weight: 400
		font-size: 1rem
		font-style: italic
		outline: none
		padding: 1rem
		+trans()
		float: none
		width: 100%

		&:focus
			border-bottom: 1px solid transparentize($blue_color, 0.65)
			+trans()

	.search-submit
		+btn-normal($blue_color)
		border-radius: 3px
		width: 50%
		padding: 0.77rem
		line-height: 2
		display: block


.widget
	.widgettitle
		margin-top: 0
		@extend h3

/*Override dropdown*/

.error-404

	.dropdown-content
		li
			line-height: 0.6 !important
			padding: 0.2em 0 0.2em 2.5em !important
			margin-top: 0 !important
			
			> span
				line-height: 1.4 !important
				padding: 0 !important
				margin-top: 0 !important
			&:before
				top: 0.95em
				position: relative





/*Search results page*/

.search-results
	.entry-title
		@extend h2



/*Jetpack - contactform message*/

.contact-form-submission
	padding: 1em !important
	margin: 0 !important
	font-size: 1rem
	+panel_grey()


/*Jetpack socials*/

.sd-content ul li, .atf-object ul li
	&:before
		display: none


/*Packages SPAN*/

.work-packages-wrapper, .partners-wrapper
	ul
		li
			padding-left: 0 !important
			line-height: inherit !important

			&:before
				display: none !important


.work-packages-wrapper
	> ul
		li
			margin-bottom: 0

.collapsible
	margin-top: 0

.collapsible-header
	overflow: hidden
	line-height: 2.9rem

	.button-tab
		margin-top: 0.409rem

	.fa-plus
		color: $blue_color
		font-size: 1rem

	+below(laptop)
		line-height: 1.6 !important
		min-height: auto
		padding-top: 10px
		padding-bottom: 10px
		position: relative
		font-size: 0.9rem
		overflow: hidden

		.fa
			line-height: 1.6


	+below(phone_800)
		line-height: 1.6 !important
		font-size: 0.75rem
		overflow: hidden


		.button-tab
			
			margin-bottom: $default_gutter / 2
			margin-top: $default_gutter / 2
			width: 100%
			display: block





.collapsible-body
	padding: $default_gutter
	// padding-top: $default_gutter * 2
	
	p
		padding: 0 0 $default_gutter 0

	.wp-caption-text
		font-size: 0.75rem
		padding: $default_gutter / 4

	ul
		li
			list-style-type: circle
			margin-left: 1.2rem

/*Print CSS*/

@media print

	*
		color: #000 !important
		background-color: #fff
		box-shadow: none !important
		text-shadow: none !important

	@include htags(0.6)

	body
		background: #fff
		font-size: 12px
		line-height: 1.4
	footer, .sidebar, .main-header, .header-twitter, .morphsearch, .tagline-holder, .sharedaddy, .post-navigation
		display: none !important

	h1,h2,h3,h4,h5
		color: #000
		font-weight: 400

	.main-content, .home-content, .header-content
		width: 90%
		margin: 0px
		padding: 0px

	ul
		li
			margin-bottom: 3px !important



/*Effects*/

.thumb
	position: relative
	display: block
	overflow: hidden
	+trans()

	// &:before
	// 	@extend .fa, .fa-link
	// 	text-align: center
	// 	font-size: 1rem
	// 	color: transparentize(#fff, 0.3)
	// 	padding: 0.7rem
	// 	background: transparentize($blue_color, 0.5)
	// 	border-radius: 50%
		
	// 	+j-align(both)
	// 	+trans()

	// &:hover
	// 	&:before
	// 		+trans()
	// 		color: transparentize(#fff, 0.1)
	// 		background: transparentize($blue_color, 0.2)
	// 		padding: 0.7rem
			




	+below(phone_800)
		&:before
			display: none



/*Twitter stuff*/

#twitter-widget-0
	height: 500px !important
	width: 140% !important
	

/*Members login stuff*/

#loginform
	p
		margin-top: 0
		margin-bottom: 0


/*Materialize Cards and forms popravki*/

.card-panel
	color: #fff

input[type="submit"]
	padding-bottom: 0.6em

[type="checkbox"] + label
	font-size: 0.8rem

.login-remember
	margin-bottom: $default_gutter / 2 !important


/*Jetpack similar*/

#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title
	font-size: 1.125rem !important
	margin-bottom: $default_gutter / 2 !important
	text-decoration: none !important

	&:hover
		text-decoration: none !important

#jp-relatedposts .jp-relatedposts-items p
	font-size: 0.75rem !important
	line-height: 1.4 !important

.jp-relatedposts-post-a
	border-bottom: none !important

.jp-relatedposts-headline
	font-size: 1rem !important
	margin-bottom: $default_gutter !important
	margin-top: $default_gutter !important


// Wordpress generic

// Navigation

.nav-links
	background: #f3f3f3
	overflow: hidden
	padding: 0.5rem
	line-height: 1.4

.nav-previous, .nav-next
	position: relative
	margin-top: 0px

	a
	
		&:before
			top: 6px


.nav-previous
	a
		margin-left: 1rem
		&:before
			@extend .fa, .fa-chevron-left
			position: absolute
			left: 0px


.nav-next
	a
		margin-right: 1rem

		&:before
			@extend .fa, .fa-chevron-right
			position: absolute
			right: 0


// Anis

@-webkit-keyframes b
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)

	to
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)


@-o-keyframes b
	0%
		-o-transform: rotate(0deg)
		transform: rotate(0deg)

	to
		-o-transform: rotate(360deg)
		transform: rotate(360deg)


@keyframes b
	0%
		-webkit-transform: rotate(0deg)
		-o-transform: rotate(0deg)
		transform: rotate(0deg)

	to
		-webkit-transform: rotate(360deg)
		-o-transform: rotate(360deg)
		transform: rotate(360deg)


/*Responsive table 2*/

//colors
$concrete: #f6f6f6
$white: #ffffff

.prevention-science-databses-wrapper
	.ese-psd-table
		.Table
			position: relative
			.Table-row
				position: absolute
		.psd-row-template
			display: none


.Table 
	display: -webkit-box
	display: -moz-box
	display: box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flexbox
	display: flex

	-webkit-flex-flow: column nowrap
	-moz-flex-flow: column nowrap
	flex-flow: column nowrap
	-webkit-box-pack: justify
	-moz-box-pack: justify
	//If you use compass, instead of the line below you could use + box-pack($pack)
	box-pack: justify

	-webkit-justify-content: space-between
	-moz-justify-content: space-between
	-ms-justify-content: space-between
	-o-justify-content: space-between
	justify-content: space-between
	-ms-flex-pack: justify

	// border: 1px solid $concrete
	font-size: 0.9rem

	

.Table-header 
	display: none

.Table-row
	width: 100%
	flex-wrap: wrap
	margin-bottom: $default_gutter / 2
	border: 1px solid #ddd
	border-radius: 3px
	font-size: 10px

	&:nth-of-type(even) 
		background-color: $concrete

	&:nth-of-type(odd) 
		background-color: $white



.Table-row-item 
	display: -webkit-box
	display: -moz-box
	display: box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flexbox
	display: flex

	-webkit-flex-flow: row nowrap
	-moz-flex-flow: row nowrap
	flex-flow: row nowrap
	-webkit-flex-grow: 1
	-moz-flex-grow: 1
	flex-grow: 1
	-ms-flex-positive: 1
	-webkit-flex-basis: 0
	-moz-flex-basis: 0
	flex-basis: 0
	-ms-flex-preferred-size: 0
	word-wrap: break-word
	overflow-wrap: break-word
	//If you use compass, instead of the line below you could use + word-break($value)
	
	border: 1px solid #ddd
	padding: $default_gutter / 4

	//If you use compass, instead of the line below you could use + word-break($value)
	word-break: break-word
	position: relative

	// margin-top: $default_gutter
	// margin-bottom: $default_gutter / 6

	&:first-child
		border-left: 1px solid #ddd

	&:before
		content: attr(data-header)
		
		position: relative
		font-size: 10px
		margin-right: 2%
		top: 0px


@media screen and (min-width: 700px)
	.Table-row
		font-size: 0.875rem


@media screen and (min-width: 200px) 
	.Table-header 
		font-weight: 700
		background-color: $concrete
		
		
		padding: 0 !important

		&:hover
			box-shadow: none


	.Table-row
		display: -webkit-box
		display: -moz-box
		display: box
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flexbox
		display: flex
		-webkit-flex-flow: row nowrap
		-moz-flex-flow: row nowrap
		flex-flow: row nowrap
		height: 44px

		&:nth-of-type(even) 
			background-color: $white

		&:nth-of-type(odd) 
			background-color: $concrete


	.Table-row-item 
		margin-bottom: 0 !important
		margin-top: 0 !important
		padding: 0.5em


		&:before 
			content: none !important

	.Table-row
		cursor: pointer
		margin-bottom: $default_gutter / 4

		&:hover
			background: #E7E7E7 !important


.u-Flex-grow1 
	-webkit-flex-grow: 1
	-moz-flex-grow: 1
	flex-grow: 1
	-ms-flex-positive: 1

.u-Flex-grow2 
	-webkit-flex-grow: 2
	-moz-flex-grow: 2
	flex-grow: 2
	-ms-flex-positive: 2

.u-Flex-grow3 
	-webkit-flex-grow: 3
	-moz-flex-grow: 3
	flex-grow: 3
	-ms-flex-positive: 3

.u-Flex-grow4 
	-webkit-flex-grow: 4
	-moz-flex-grow: 4
	flex-grow: 4
	-ms-flex-positive: 4

.u-Flex-grow5 
	-webkit-flex-grow: 5
	-moz-flex-grow: 5
	flex-grow: 5
	-ms-flex-positive: 5

.u-Flex-grow6 
	-webkit-flex-grow: 6
	-moz-flex-grow: 6
	flex-grow: 6
	-ms-flex-positive: 6

.u-Flex-grow7 
	-webkit-flex-grow: 7
	-moz-flex-grow: 7
	flex-grow: 7
	-ms-flex-positive: 7

.u-Flex-grow8 
	-webkit-flex-grow: 8
	-moz-flex-grow: 8
	flex-grow: 8
	-ms-flex-positive: 8

.u-Flex-grow9 
	-webkit-flex-grow: 9
	-moz-flex-grow: 9
	flex-grow: 9
	-ms-flex-positive: 9

.u-Flex-grow10 
	-webkit-flex-grow: 10
	-moz-flex-grow: 10
	flex-grow: 10
	-ms-flex-positive: 10




/**
 * CSSji, ki morajo biti prisotni na FRONT ENDu ne glede na ostale class-e
 */

.prevention-science-databses-wrapper
	// custom jQuery tooltip on databases
	// TODO Matija in Matevž - tooltip nekam čudno na desno skoči - mogoče je celo v JS treba kaj popraviti
	.ui-tooltip
		background: #666
		color: white
		border: none
		padding: 0
		opacity: 1
		max-width: 200px

	.ui-tooltip-content
		position: relative
		padding: 1em
		&::after
			content: ''
			position: absolute
			border-style: solid
			display: block
			width: 0
			top: -10px
			left: 90px
			border-color: #666 transparent
			border-width: 0 10px 10px
	// na splošno onemogočimo UL LI pikice
	ul li
		list-style-type: none !important
		&:before
			content: ''
			display: none
		padding-left: 0
	
	// prikaz statistike baze pod poljem za iskanje
	.stats
		// na splošno skrijemo filtered
		.filtered-stats
			display: none
			margin-left: 15px
		.filter-loading
			display: none
			margin-left: 15px
	// sklop filter (zgornji del)
	.filter-holder
		// v osnovi skrivamo filtre za vsako bazo, dokler baza ni aktivna
		.ese-psd-filters
			display: none
			&.active
				display: block
		// seznam baz - naredimo dinamične ikone
		.link-tabs
			.button
				
				position: relative
				// odstranimo privzete ikone, ki so vezane na BUTTON, ker bomo imeli <i>
				&:before, &:after 
				    content: ''
				    content: none
				i.fa
					position: absolute
					left: 1.2rem
					font-family: "FontAwesome"
					font-style: normal
					font-weight: normal
					text-decoration: inherit
					font-size: 1rem
				&:hover
					border: none
					i.fa
						+trans()
						opacity: 0.9
						transform: translateX(2px)
						backface-visibility: hidden
				&:before
					transform: translateX(0px)
					backface-visibility: hidden
					opacity: 1
					+trans()
					position: relative
					margin-top: -1px
			
	.edit-databases
		float: none
		position: absolute
		top: -20px
		right: -30px

		a
			padding: 0
			padding-top: 17px
			display: block
			width: 50px
			height: 50px
			display: block
			border-radius: 50%

			i
				left: -28px
				display: block
				position: relative
				top: 2px
	
	// tabele podatkov v osnovi skrivamo in prikazujemo samo tisto tabelo, ki je active
	.ese-psd-table
		display: none
		&.active
			display: block


.button-circle
	&:before
		display: none !important

/*Modal*/

.modal-content

	p
		margin-top: 0
		margin-bottom: $default_gutter / 2

	h5
		margin-bottom: $default_gutter / 4
		margin-top: 0



/*Go to the top*/

#go-to-the-top 
	width: 40px
	height: 40px
	background: transparentize($blue_color, 0.5)
	position: fixed
	z-index: 9998
	right: 10px
	bottom: 10px
	border-radius: 0
	opacity: 0
	+trans()
	padding: 0

	i
		color: #fff;
		position: relative;
		top: 6px;
		left: 12px;
		margin: 0
		padding: 0

	&:hover
		background: $blue_color

.show-go
	opacity: 1 !important

.hide-go
	opacity: 0
	+trans()


/*IE stuff*/



#ie9, #ie8, #ie7

	.Table-header
		display: none !important

	.Table-row
		display: table
		height: 44px


	.psd-filter
		background: #fff

		&:focus
			border-bottom: 1px solid $blue_color

	.select2-results__option
		background: #fff !important
		color: $blue_color


#ie8, #ie7
	.header-twitter, #loading
		display: none

	.tagline-wrapper
		margin-top: 2em

	.tagline-holder
		margin-left: 2em
		float: right
		h3
			font-size: 1.2em

	.morphsearch-input
		display: none

	.mtli_attachment, .button
		&:before
			display: none

	.main-logo-euspr
		margin-left: 1.5em
		margin-bottom: 1.5em
	.sidebar
		margin-right: 2em

	strong, h1,h2,h3,h4,h5
		font-weight: bold

	p
		.button
			margin-bottom: 1em

	.button, .mtli_attachment
		margin-right: 1em
		margin-bottom: 1em

		&:hover
			background: #383284 !important

	.alignleft
		margin-right: 1em
	.alignright
		margin-left: 1em

	article
		a:hover
			border-bottom-color: #ddd !important

	.half-c
		width: 46%


	.home-content, .container
		max-width: 1200px
		

	.footer-bg
		padding: 2em 0


	.panel
		padding: 20px

	.toc-wrapper
		filter: alpha(opacity=90)
		background: #fff

		.fixed-toc

			a
				color: $blue_color

				&:hover
					color: #fff
					
	.list

		li
			margin-left: 1em
			line-height: 1.3
			font-size: 0.875em
			position: relative
			padding-left: 1em
			margin-bottom: 1em

			&:hover
				&:before
					left: 2px

			
			a
				color: #fff
				border-bottom: none

	article
		h4,h2,h3
			color: lighten($blue_color,2%)
			clear: both
			display: block
		ul

			li
				padding-left: 2.5em
				&:before
					color: $blue_color
					top: 0px
					font-size: 0.4em
					left: 5px

				a
					color: $blue_color
					border-bottom: 1px dotted $blue_color

					&.mtli_attachment, &.button
						margin-bottom: 0


			ul
				+list_item_icon('\f111')
				@extend .list-normal
				margin-bottom: $default_gutter / 2
				margin-top: $default_gutter / 2
				margin-left: 0
				li
					&:before
						color: #ddd

		.tick-list
			li
				&:before
					font-size: 1rem


		a
			border-bottom: 1px dotted $blue_color


	.board-wrapper
		padding: 2em
		position: relative
		
		.member
			float: left
			margin-right: $default_gutter
			margin-bottom: 1.118em