// Sidebar / menu background
.page-wrapper
	display: block
	position: relative
	
	.sidebar-bg

		width: 15.125rem
		position: absolute
		top: 0
		bottom: 0
		background: $blue_color
		z-index: 9

		+below(tablet)
			display: none


// menu locked / unlocked
.menu-item
	position: relative
	a
		position: relative

	&.ese-locked:before
		display: inline-block
		float: left
		@extend .fa, .fa-lock
		color: #fff
		top: 1.375rem
		left: 0.4375rem
		font-size: 0.6875rem
		opacity: 0.5
		position: relative
		z-index: 9500
	
	&.ese-unlocked:before
		display: inline-block
		float: left
		@extend .fa, .fa-unlock
		position: relative
		color: #fff
		top: 1.3125rem
		left: 0.4375rem
		font-size: 0.6875rem
		opacity: 0.5

.sub-menu
	.menu-item
		position: relative
		&.ese-locked:before, &.ese-unlocked:before
			top: 0.9375rem !important