input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	background: #f3f3f3;
	border-radius: 3px;
	
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__text-input-focus;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],textarea {
	padding: 5px;
	font-style: italic;
	transition: 0.3s all ease;

	&:hover {
			transition: 0.3s all ease;
			box-shadow: 0px 0px 3px transparentize($blue_color, 0.8),
						0px 1px 0px transparentize($blue_color, 0.85),
						inset 0px 1px 0px transparentize(#fff, 0.2);
			background: lighten(#f3f3f3, 1%);

		}

}

textarea {
	padding-left: 5px;
	width: 100%;
	border: none;
	font-style: italic;
}

@media screen and (max-width: 800px) {
	.contact-form textarea {
		width: 100% !important;
		padding: 5px !important;
	}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: lighten($blue_color,5%);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: lighten($blue_color,5%);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: lighten($blue_color,5%);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: lighten($blue_color,5%);
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: lighten($blue_color,5%);
}

