.alignleft {
	display: inline;
	float: left;
	margin-right: $default_gutter;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $default_gutter;
}

.alignleft, .alignright {
	margin-bottom: $default_gutter / 2;
}

.aligncenter {
	@include center-block;
}