.week-holder table {
  width: 100%;
}

.week-holder table td, .week-holder table th {
  border: 1px solid #cccccc;
}

.week-holder .table-templates {
  display: none;
}

.add-meeting-item {
  position: absolute;
  border: 1px solid red;
  background: #eeeeee;
}
