@charset "UTF-8";
ul li {
  list-style-type: none !important;
}

.list-normal, ul, ul.tick-list {
  margin: 0;
  margin-bottom: 2.1179rem;
  margin-left: 0;
}

.list-normal li, ul li, ul.tick-list li {
  position: relative;
}

.list-normal li:before, ul li:before, ul.tick-list li:before {
  content: "";
  position: absolute;
  left: 0px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.list-normal li, ul li, ul.tick-list li {
  margin-left: 0rem;
  position: relative;
  margin-bottom: 0.42358rem;
  padding-left: 2.1179rem;
}

ul.tick-list {
  margin-left: 0;
}

ul.tick-list li {
  position: relative;
}

ul.tick-list li:before {
  content: "";
  position: absolute;
  left: 0px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

ul.tick-list li:before {
  color: #28245f;
  top: 1px;
}
