$phi: 1.618;
$default_h_padding: $phi * $phi * $phi * 1rem
$default_v_padding: $default_h_padding
$blue_color: #28245f

@mixin list_item_icon($code)
	margin-left: 0;
	li 
		position: relative;
		&:before
			content: $code;
			position: absolute;
			left: 0px;
			font-family: "FontAwesome";
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;


ul li
	list-style-type: none !important

.list-normal
	margin: 0
	margin-bottom: ($default_h_padding/2)
	+list_item_icon('\f105')

	li
		margin-left: 0rem
		
		position: relative
		margin-bottom: ($default_h_padding/10)
		padding-left: ($default_h_padding/2)

ul
	@extend .list-normal
	
	&.tick-list

		@extend .list-normal
		+list_item_icon('\f00c')

		li
			
			&:before
				color: $blue_color
				top: 1px