.ese_wpe.ese_insert_content
	display: block
	padding: 20px
	padding-right: 0
	width: 90%
	overflow: hidden
	position: relative
	background: #eeeeee
	border: 1px solid #dddddd
	
	> .hover
		display: none
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		background: #cccccc
		opacity: 0.6
		
		> span
			position: absolute
			transform-style: preserve-3d
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			
	&:hover
		> .hover
			display: block
	
	> .a
		display: block
		margin-right: 20px
		float: left