#sg-galerija-metabox a.remove {
  text-decoration: none;
}

#sg-galerija-metabox .spe-field-content textarea {
  width: 100%;
  display: block;
  min-height: 80px;
}

#sg-galerija-metabox .spe-field-card input[type="text"] {
  width: 50%;
}

#sg-galerija-metabox .spe-field-card textarea {
  width: 50%;
  min-height: 80px;
}

#sg-galerija-metabox .spe-field-link input[type="text"] {
  width: 24%;
}

#sg-galerija-metabox .spe-field-editor,
#sg-galerija-metabox .spe-field-machines,
#sg-galerija-metabox .spe-field-list_with_icons,
#sg-galerija-metabox .spe-field-employees,
#sg-galerija-metabox .spe-field-images {
  margin-bottom: 20px;
}

#sg-galerija-metabox .spe-field-galleries li.galleries-gallery {
  padding-bottom: 20px;
}

#sg-galerija-metabox .ui-sortable {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#sg-galerija-metabox .ui-sortable > li {
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
  background: #fff;
}

#sg-galerija-metabox .machines > li, #sg-galerija-metabox .list-i > li {
  border: none;
  padding: 0px;
  background: #fff;
  overflow: initial;
  margin: 5px 0;
}

#sg-galerija-metabox .machines-holder label input[type="text"] {
  width: 100%;
  display: block;
}

#sg-galerija-metabox .galleries-gallery {
  position: relative;
}

#sg-galerija-metabox .galleries-gallery .move-remove-holder {
  position: absolute;
  right: 10px;
  top: 10px;
}

#sg-galerija-metabox .galleries-gallery .gallery-title {
  width: 50%;
  display: block;
}

#sg-galerija-metabox .editors > li {
  position: relative;
}

#sg-galerija-metabox .editors > li .move-remove-holder {
  position: absolute;
  right: 10px;
  top: 10px;
}

#sg-galerija-metabox .editors > li input[type="text"] {
  width: 50%;
  display: block;
}

#sg-galerija-metabox .editors > li > .mce-container {
  margin-top: 20px;
}

#sg-galerija-metabox .employees > li {
  position: relative;
}

#sg-galerija-metabox .employees > li .move-remove-holder {
  position: absolute;
  right: 10px;
  top: 10px;
}

#sg-galerija-metabox .employees > li input[type="text"] {
  width: 50%;
  display: inline-block;
}

#sg-galerija-metabox .field-title {
  font-weight: bold;
}

#sg-galerija-metabox .move, #sg-galerija-metabox .remove, #sg-galerija-metabox .add {
  border: none;
  padding: 8px 14px;
  padding-left: 4px;
  border-radius: 3px;
  margin-right: 5px;
}

#sg-galerija-metabox .move i, #sg-galerija-metabox .remove i, #sg-galerija-metabox .add i {
  line-height: 1.6;
  margin-right: 2px;
  position: relative;
  top: 7px;
  margin-left: 3px;
}

#sg-galerija-metabox .move {
  cursor: grab;
  background: #bdc3c7;
  color: #fff;
}

#sg-galerija-metabox .remove {
  cursor: pointer;
  background: #c0392b;
  color: #fff;
}

#sg-galerija-metabox .add {
  cursor: pointer;
  background: #27ae60;
  color: #fff;
  text-decoration: none;
  outline: none;
}

#sg-galerija-metabox .list-i-row input[type="text"] {
  padding: 5px;
  border-radius: 3px;
}

#sg-galerija-metabox ul.images-preview {
  overflow: hidden;
  display: block;
}

#sg-galerija-metabox ul.images-preview li {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background: #f3f3f3;
  cursor: move;
  float: left;
}

#sg-galerija-metabox .spe-field-text input[type="text"] {
  padding: 6px;
  width: 100%;
  display: block;
}

#sg-galerija-metabox .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#sg-galerija-metabox select.material-icons {
  width: 60px;
  font-size: 20px;
  height: 32px;
  border-radius: 3px;
  position: relative;
  top: -2px;
}
