$red_color: #c0392b;
$blue_color: #3498db;
$green_color: #27ae60;

$grey_color: #bdc3c7;




#sg-galerija-metabox {

	a.remove {
		text-decoration: none;
	}

	.spe-field-content textarea {
		width: 100%;
		display: block;
		min-height: 80px;
	}

	.spe-field-card {
		
		input[type="text"] {
			width: 50%;
		}

		textarea {
			width: 50%;
			min-height: 80px;
		}

	}

	.spe-field-link {
		input[type="text"] {
			width: 24%;
		}
	}

	.spe-field-editor,
	.spe-field-machines,
	.spe-field-list_with_icons,
	.spe-field-employees,
	.spe-field-images
	{
		margin-bottom: 20px;
	}

	.spe-field-galleries li.galleries-gallery {
		padding-bottom: 20px;
	}

	.ui-sortable {
		margin-top: 20px;
		margin-bottom: 20px;
		overflow: hidden;

		> li {
			border:1px solid #ddd;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 10px;
			overflow: hidden;
			background: #fff;
		}
	}

	.machines, .list-i {

		> li {
		border: none;
		
		padding: 0px;
		background: #fff;
		overflow: initial;
		margin: 5px 0;
		
		}

	}

	.machines-holder {

		label {

			input[type="text"] {
				width: 100%;
				display: block;
			}
		}
	}

	.galleries-gallery {
		position: relative;

		.move-remove-holder {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.gallery-title {
			width: 50%;
			display: block
		}
	}

	.editors > li {
		position: relative;

		.move-remove-holder {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		input[type="text"] {
			width: 50%;
			display: block;
		}


		> .mce-container {
			margin-top: 20px;
		}

	}

	.employees > li {
		position: relative;

		.move-remove-holder {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		input[type="text"] {
			width: 50%;
			display: inline-block;
		}
	}

	
	.field-title {
		font-weight: bold;
	}


	.move, .remove, .add {
		border: none;
		padding: 8px 14px;
		padding-left: 4px;
		border-radius: 3px;
		margin-right: 5px;

		i {
			line-height: 1.6;
			margin-right: 2px;
			position: relative;
			top:7px;
			margin-left: 3px;
		}
	}

	.move {
		cursor: grab;
		background: $grey_color;
		color: #fff;
	}

	.remove {
		cursor: pointer;
		background: $red_color;
		color: #fff;

	}

	.add {
		cursor: pointer;
		background: $green_color;
		color: #fff;
		text-decoration: none;
		outline:none;

	}

	.list-i-row {
		input[type="text"] {
			padding: 5px;
			border-radius:3px;
		}
	}


	ul.images-preview {
		overflow: hidden;
		display: block;
		
		li {
			margin: 0;
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 5px;
			background: #f3f3f3;
			cursor: move;
			float: left;
		}
	}

	.spe-field-text {
		input[type="text"] {
			padding: 6px;
			width: 100%;
			display: block;
		}
	}

	.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;  /* Preferred icon size */
	  display: inline-block;
	  width: 1em;
	  height: 1em;
	  line-height: 1;
	  text-transform: none;
	  letter-spacing: normal;
	  word-wrap: normal;
	  white-space: nowrap;
	  direction: ltr;

	  /* Support for all WebKit browsers. */
	  -webkit-font-smoothing: antialiased;
	  /* Support for Safari and Chrome. */
	  text-rendering: optimizeLegibility;

	  /* Support for Firefox. */
	  -moz-osx-font-smoothing: grayscale;

	  /* Support for IE. */
	  font-feature-settings: 'liga';
	}

	select.material-icons {
	  width: 60px;
	  font-size: 20px;
	  height: 32px;
	  border-radius: 3px;
	  position: relative;
	  top:-2px;
	}

}
