@import 'jeet'

.dcrm_page
	ul.views
		display inline-block
		overflow hidden
		margin 0
		li
			float left
			font-size 13px
			top 8px
			position relative
			margin-left 5px
			&.active
				font-weight bold
	
	.list
		width 100%
		overflow hidden
		.list-row
			overflow hidden
			&.head
				font-weight bold
			.list-column
				min-height 1px
		&.standard
			.list-row
				.list-column
					&:nth-child(1)
						span(1/24)
					&:nth-child(2)
						span(15/24)
					&:nth-child(3)
						span(5/24)
					&:nth-child(4)
						span(3/24)
			
				