#klipipiklap-woo-slider-gallery
	.inside
		margin 0
		padding 0
		.add_product_klipiklap_slider_images
			padding 0 12px 12px
		
		#product_klipiklap_slider_images_container
			padding 0 0 0 9px
			ul
				&:before, &:after
					content " "
					display table
				&:after
					clear both
				.clearfix
					margin 0
					padding 0
				li.image, li.add, li.wc-metabox-sortable-placeholder
					width 80px
					float left
					cursor move
					border 1px solid #d5d5d5
					margin 9px 9px 0 0
					background #f7f7f7
					-webkit-border-radius 2px
					-moz-border-radius 2px
					border-radius 2px
					position relative
					-webkit-box-sizing border-box /* Safari/Chrome, other WebKit */
					-moz-box-sizing border-box    /* Firefox, other Gecko */
					box-sizing border-box         /* Opera/IE 8+ */
					img
						width 100%
						height auto
						display block
					
				
				li.wc-metabox-sortable-placeholder
					border 3px dashed #dddddd
					position relative
					&:after
						content "\e00c"
						font-size:2.618em
						line-height 72px
						color #ddd
					
				
				ul.actions
					font-family "woocommerce"
					position absolute
					top:-8px
					right -8px
					padding 2px
					display none
					li
						float right
						margin 0 0 0 2px
						a
							width 1em
							height:1em
							margin 0
							height 0
							display block
							overflow hidden
							&.tips
								cursor pointer
							
						
						a.view
							.ir
								font-size:1.4em
							&:before
								content "\e00c"
								background-color #000
								color #fff
							
						
						a.delete
							.ir
								font-size:1.4em
							&:before
								content "\e013"
								color white
								background-color #000
								-webkit-border-radius 100%
								border-radius 100%
								box-shadow 0 1px 2px rgba(0,0,0,0.2)
								left 0
								top 0
								position absolute
								line-height 1
							
							&:hover:before
								background-color red
				
				li:hover ul.actions
					display block
				
			
		
	
