$modal-content-bg ?= #fff
$modal-content-fallback-border-color ?= #000
$modal-content-border-color ?= #000
$border-radius-large ?= 0px
$zindex-modal-background ?= 100000
$modal-backdrop-bg ?= #000
$modal-backdrop-opacity ?= 0.3
$modal-title-padding ?= 5px

$zindex-modal ?= 100000
$modal-header-border-color ?= #fff
$modal-title-line-height ?= 1.2em
$modal-inner-padding ?= 5px
$modal-footer-border-color ?= #fff

$modal-lg ?=                    900px;
$modal-md ?=                    600px;
$modal-sm ?=                    300px; 

$screen-xs ?=                  480px;
$screen-xs-min ?=              $screen-xs;
$screen-phone ?=               $screen-xs-min;

$media-min-tablet ?= minw($screen-sm)
$media-min-desktop ?= minw($screen-md)

.clearfix{}

@import "../../../stylus/plugins/modals";

.modal
	.close
		float right
	.modal-content
		min-width 300px
		max-width 800px
		margin-left auto
		margin-right auto