@import 'jeet'

#dcrm-v2-command-modal
	p.input
		> input
			width 100%
			border none
			background-color transparent
			box-shadow none
			padding 0;
			&.currency
				text-align right
				padding-right 18px
				font-weight bold
		> textarea
			width 100%
			border none
			background-color transparent
			box-shadow none
			padding 0;
			&.animated
				transition height 0.2s
		margin 0 5px 5px 5px
		display inline-block
		width 100%
		&.title-row
			> input
				font-size 14px
				font-weight bold
		&.thin-field
			span(1/2)
			min-height 30px
		
		span.currency
			float right
			margin-top -23px
			margin-right 5px
			font-weight bold
			font-size 16px
	
	#dcrm_v2_command_content
		a.chosen-single, .chosen-container-multi > ul.chosen-choices
			border-radius 0px
			background transparent
			border none
			box-shadow none
		
		.chosen-container-multi > ul.chosen-choices input
			font-weight bold

		.chosen-container-active
			a.chosen-single, ul.chosen-choices
				border 1px #ccc solid
		