.ese_wpe.ese_multi_panel_background
	
	display: block
	
	padding: 20px
	padding-right: 0
	width: 95%
	overflow: hidden
	position: relative
	transition: 0.3s all ease
	
	
	> .hover
		display: none
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		background: #cccccc
		opacity: 0.6
		transition: 0.3s all ease
		
		> span
			position: absolute
			transform-style: preserve-3d
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			
		
	&:hover
		> .hover
			display: block
	
	> .a
		display: block
		margin-right: 20px
		float: left